---
- hosts: civicrm
  become: true

  tasks:

  ##################################
  # User that hosts the application
  ##################################
  - name: create unix user
    user:
      name: "{{pac}}-{{user}}"
      shell: /bin/bash
      home: "{{userhome}}"
      groups: www-data
      append: yes

  - name: add www-data to user's group
    user:
      name: "www-data"
      groups: "{{pac}}-{{user}}"
      append: yes

  - name: create doms directory
    file:
      path: "{{userhome}}/doms"
      state: directory
      mode: '0755'
      owner: '{{pac}}-{{user}}'
      group: 'www-data'

  - name: create domain directory
    file:
      path: "{{userhome}}/doms/{{domain}}"
      state: directory
      mode: '0755'
      owner: '{{pac}}-{{user}}'
      group: 'www-data'

  - name: create htdocs-ssl directory
    file:
      path: "{{userhome}}/doms/{{domain}}/htdocs-ssl"
      state: directory
      mode: '0755'
      owner: '{{pac}}-{{user}}'
      group: 'www-data'

  - name: Create document root
    file:
      path: "{{documentroot}}"
      state: directory
      owner: "www-data"
      mode: "0755"

  #################################
  # Setup repository for newer php
  #################################
  - name: Update apt dependencies
    apt:
      name: ['ca-certificates', 'software-properties-common', 'apt-transport-https', 'lsb-release']
      update_cache: yes
      state: latest

  - name: install the key of sury repo
    get_url:
      url: https://packages.sury.org/php/apt.gpg
      dest: /usr/share/keyrings/deb.sury.org-php.gpg

  - name: add sury repo
    shell: echo "deb [signed-by=/usr/share/keyrings/deb.sury.org-php.gpg] https://packages.sury.org/php/ $(lsb_release -sc) main" > /etc/apt/sources.list.d/php.list

  #########################
  # Install Apache and PHP
  #########################
  - name: Install Apache and PHP Packages
    apt:
      name: ['apache2', 'php8.1', 'php8.1-mysql', 'libapache2-mod-php8.1']
      update_cache: yes
      state: latest

  - name: Set up Apache virtualhost
    template:
      src: "templates/domain.conf"
      dest: "/etc/apache2/sites-available/{{domain}}.conf"

  - name: Enable new site
    shell: /usr/sbin/a2ensite {{ domain }}

  - name: Disable default Apache site
    shell: /usr/sbin/a2dissite 000-default.conf

  - name: Reload Apache
    service:
      name: apache2
      state: reloaded

  ####################################
  # setup the database
  ####################################
  - name: Install Mysql Server
    apt:
      name: ['mariadb-server', 'python3-pymysql']
      update_cache: yes
      state: latest

  - name: Check if mysql root password is unset
    shell: |
      mysql -u root -p'{{mysql_root_password}}' -h localhost -e "quit"
    changed_when: false
    ignore_errors: true
    register: root_pwd_check

  - name: Sets the root password
    mysql_user:
      name: root
      password: "{{mysql_root_password}}"
      login_unix_socket: /var/run/mysqld/mysqld.sock
    when: root_pwd_check.rc != 0

  - name: Removes the MySQL test database
    mysql_db:
      name: test
      state: absent
      login_unix_socket: /var/run/mysqld/mysqld.sock
      login_user: root
      login_password: "{{mysql_root_password}}"

  - name: create mysql database
    mysql_db:
      name: "{{db_name}}"
      state: present
      login_unix_socket: /var/run/mysqld/mysqld.sock
      login_user: root
      login_password: "{{mysql_root_password}}"

  - name: create mysql user
    mysql_user:
      name: "{{db_username}}"
      password: "{{db_password}}"
      priv: "{{db_name}}.*:ALL"
      login_unix_socket: /var/run/mysqld/mysqld.sock
      login_user: root
      login_password: "{{mysql_root_password}}"
